<a href="https://colab.research.google.com/github/CHRISTIANDAGATTI/AEyCD---Grupo-9/blob/main/Entregable_parte_1_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2022*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [114]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.36)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.2.0)

In [115]:
!pip install decouple

Requirement already satisfied: decouple in /usr/local/lib/python3.7/dist-packages (0.0.7)

In [116]:
!pip install missingno

Requirement already satisfied: missingno in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from missingno) (0.11.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from missingno) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from missingno) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from missingno) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->missingno) (3.0.8)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.15.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn->missingno) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn->missingno) (2022.1)

In [117]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [118]:
!pip install config

Requirement already satisfied: config in /usr/local/lib/python3.7/dist-packages (0.5.1)

In [119]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')


import config
from sqlalchemy import create_engine, text

In [120]:
import plotly
plotly.__version__
# Make sure it's 4.14.3

'5.5.0'

In [121]:
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

## Ejercicio 1 SQL: 

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

**1- Creación de base de datos:**

In [122]:
engine = create_engine('sqlite:///sysarmy.sqlite3', echo=True)

**2- Creación de tablas:**

In [123]:
melb_df.to_sql('Melbo', con=engine, if_exists="replace")

2022-05-15 03:21:30,896 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Melbo")
2022-05-15 03:21:30,897 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,900 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Melbo")
2022-05-15 03:21:30,902 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,907 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-15 03:21:30,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,911 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Melbo")
2022-05-15 03:21:30,913 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,923 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:30,928 INFO sqlalchemy.engine.Engine [raw sql] ('Melbo',)
2022-05-15 03:21:30,931 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Melbo")
2022-05-15 03:21:30,932 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,939 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Melbo")
2022-05-15 03:21:30,941 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,946 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:30,948 INFO sqlalchemy.engine.Engine [raw sql] ('Melbo',)
2022-05-15 03:21:30,950 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Melbo")
2022-05-15 03:21:30,952 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,954 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Melbo_index")
2022-05-15 03:21:30,958 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,961 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Melbo")
2022-05-15 03:21:30,963 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,965 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Melbo_index")
2022-05-15 03:21:30,967 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:30,969 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:30,971 INFO sqlalchemy.engine.Engine [raw sql] ('Melbo',)
2022-05-15 03:21:30,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:30,975 INFO sqlalchemy.engine.Engine
DROP TABLE "Melbo"
2022-05-15 03:21:30,978 INFO sqlalchemy.engine.Engine [no key 0.00314s] ()
2022-05-15 03:21:31,041 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:31,048 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:31,052 INFO sqlalchemy.engine.Engine
CREATE TABLE "Melbo" (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)


2022-05-15 03:21:31,054 INFO sqlalchemy.engine.Engine [no key 0.00251s] ()
2022-05-15 03:21:31,066 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Melbo_index" ON "Melbo" ("index")
2022-05-15 03:21:31,067 INFO sqlalchemy.engine.Engine [no key 0.00109s] ()
2022-05-15 03:21:31,077 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:31,105 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:31,716 INFO sqlalchemy.engine.Engine INSERT INTO "Melbo" ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-05-15 03:21:31,717 INFO sqlalchemy.engine.Engine [generated in 0.56082s] ((0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0))
2022-05-15 03:21:31,832 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:31,854 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-15 03:21:31,856 INFO sqlalchemy.engine.Engine [raw sql] ()

In [124]:
interesting_cols = [
  'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude',
]
airbnb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [125]:
airbnb_df.to_sql('Airbnb', con=engine, if_exists="replace")

2022-05-15 03:21:38,466 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Airbnb")
2022-05-15 03:21:38,468 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,472 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Airbnb")
2022-05-15 03:21:38,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,478 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-15 03:21:38,479 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,482 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Airbnb")
2022-05-15 03:21:38,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,488 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:38,490 INFO sqlalchemy.engine.Engine [raw sql] ('Airbnb',)
2022-05-15 03:21:38,493 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Airbnb")
2022-05-15 03:21:38,494 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,496 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Airbnb")
2022-05-15 03:21:38,497 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,498 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:38,500 INFO sqlalchemy.engine.Engine [raw sql] ('Airbnb',)
2022-05-15 03:21:38,502 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Airbnb")
2022-05-15 03:21:38,503 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,505 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Airbnb_index")
2022-05-15 03:21:38,506 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,508 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Airbnb")
2022-05-15 03:21:38,509 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,512 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Airbnb_index")
2022-05-15 03:21:38,513 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:38,515 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:38,516 INFO sqlalchemy.engine.Engine [raw sql] ('Airbnb',)
2022-05-15 03:21:38,519 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:38,520 INFO sqlalchemy.engine.Engine
DROP TABLE "Airbnb"
2022-05-15 03:21:38,521 INFO sqlalchemy.engine.Engine [no key 0.00129s] ()
2022-05-15 03:21:38,964 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:38,971 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:38,973 INFO sqlalchemy.engine.Engine
CREATE TABLE "Airbnb" (
	"index" BIGINT,
	description TEXT,
	neighborhood_overview TEXT,
	street TEXT,
	neighborhood TEXT,
	city TEXT,
	suburb TEXT,
	state TEXT,
	zipcode TEXT,
	latitude FLOAT,
	longitude FLOAT,
	price BIGINT,
	weekly_price FLOAT,
	monthly_price FLOAT
)


2022-05-15 03:21:38,977 INFO sqlalchemy.engine.Engine [no key 0.00425s] ()
2022-05-15 03:21:38,994 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Airbnb_index" ON "Airbnb" ("index")
2022-05-15 03:21:38,998 INFO sqlalchemy.engine.Engine [no key 0.00422s] ()
2022-05-15 03:21:39,010 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:39,044 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:39,653 INFO sqlalchemy.engine.Engine INSERT INTO "Airbnb" ("index", description, neighborhood_overview, street, neighborhood, city, suburb, state, zipcode, latitude, longitude, price, weekly_price, monthly_price) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-05-15 03:21:39,654 INFO sqlalchemy.engine.Engine [generated in 0.56436s] ((0, 'House: Clean, New, Modern, Quite, Safe. 10Km from the City. Golf course, Tennis courts, bus stop & shops walking distance!! Rooms: Contains one queen ... (702 characters truncated) ... pproximately what your daily in and out hours might look like.  Note: There is a 5 year old fun loving dog who lives with us and is part of our famil', 'Very safe! Family oriented. Older age group.', 'Bulleen, VIC, Australia', 'Balwyn North', 'Manningham', 'Bulleen', 'VIC', '3105', -37.77268393, 145.0921328, 60, None, None), (1, "A large air conditioned room with queen spring mattress bed in a vintage apartment. Located right outside is a tram to the city just 19 minutes away. ... (702 characters truncated) ... ou east to Bundoora and west to Pacoevale. The Lygon Street tram line that goes past Melbourne University is 10 minutes walk west and Sydney Road and", "This hip area is a crossroads between two great cultural strips of inner Northern Melbourne.  Located in East Brunswick, between High St, Northcote a ... (533 characters truncated) ... re three coffee places within 50metres, and the Lomond Hotel Pub right across the road has good live music and there's also a pizza place downstairs.", 'Brunswick East, VIC, Australia', 'Brunswick', 'Moreland', 'Brunswick East', 'VIC', '3057', -37.76650512, 144.9807361, 35, 200.0, 803.0), (2, 'RIGHT IN THE HEART OF ST KILDA! It doesn\'t get more central than this! A fabulous north facing balcony apartment that offers right in the heart of t ... (703 characters truncated) ... system with iPod dock & DVD/CD player Selection of books, magazines, DVDs, CDs Glass framed console/desk with lamp Bedroom with queen bed, hotel qual', 'A stay at our apartment means you can enjoy some of Melbourne’s best restaurants, bars, cafes, shopping, dining and night life, all at your doorstep. ... (288 characters truncated) ... ith the city skyline as a stunning backdrop. Our apartment is perfectly suited to those wanting an exclusive, authentic urban residential experience.', 'St Kilda, VIC, Australia', 'St Kilda', 'Port Phillip', 'St Kilda', 'VIC', '3182', -37.85975502, 144.9773691, 159, 1253.0, 4452.0), (3, "Comfortable, relaxed house, a home away from  home! This is a shared house, you will be sharing with me, plus the occasional other guest. Rooms are l ... (702 characters truncated) ... om, watch a movie, or TV, or relax in the back yard. Guest's privacy will be respected at all times. If you need information and tips on where to go,", 'This is a great neighbourhood – it is quiet, yet close to so many things. High Street, Northcote (hip bars, cafes and craft stores) are a 10 minute walk east; Sydney Road (ethnic delights and great food) is 8 minute drive west; city is 30 minutes by tram or train.', 'Thornbury, VIC, Australia', 'Thornbury', 'Darebin', 'Thornbury', 'VIC', '3071', -37.75897072, 144.9892279, 50, 250.0, 920.0), (4, 'We offer comfortable accommodation in Inner Melbourne in Clement House, a two storey Victorian built in 1888. Large double bedroom with balcony, priv ... (660 characters truncated) ... n smoking house with an outside courtyard for smokers. The rate for guests that stay for a week are heavily discounted and therefore very attractive.', None, 'St Kilda East, VIC, Australia', 'St Kilda East', 'Port Phillip', 'St Kilda East', 'VIC', '3183', -37.8645303, 144.9922379, 69, 400.0, 1900.0), (5, 'Please note: No booking will be accepted with children under the age of 13 years.  Accommodation is non smoking in apartment & on grounds.  All visit ... (702 characters truncated) ... om, toilet & living area with stereo and 32" LCD TV. A second bedroom (Autumn Room) is available with another Queen size bed for extra travelers if r', 'Our street is quiet & secluded but within walking distance to almost anything you need.', 'Berwick, VIC, Australia', None, 'Casey', 'Berwick', 'VIC', '3806', -38.05725414, 145.3393561, 98, 540.0, None), (6, 'Easy to travel from and to the Airport; quiet and safe neighbourhood; a spacious and sunny room; backyard for sun baking; a friendly host who are eas ... (702 characters truncated) ... ovided here for your comfort is in a two bedroom unit with 100sqm backyard(my green garden). This bedroom is airy and bright with big windows. Your r', "The neighbours are quiet and friendly,  please don't park the car on my driveway because one of our neighbours is doing shifting work as a nurse. There are plenty of space for parking in the guest parking bay and along the street for free.", 'Reservoir, VIC, Australia', None, 'Darebin', 'Reservoir', 'VIC', '3073', -37.69729418, 145.0008156, 50, 335.0, 1400.0), (7, "Comfortable and spacious room in an apartment close to the heart of Melbourne. High quality bedding and good sound proofing guarantees a good night's ... (702 characters truncated) ... take you right into the CBD, via Lonsdale Street and to Grattan Street, Melbourne University Tram 112 onto Collins Street Jolimont train station (10m", "MCG (15min walk) Rod Laver Arena Fitzroy Gardens Smith Street restaurants and bars (10min walk) Melbourne CBD  Parliament House St Vincent's Hospital (12min walk) The Royal Eye and Ear Hospital (11min walk) Keeping active while away: Pool Gym East Melbourne Tennis Club  Fitzroy Gardens", 'East Melbourne, VIC, Australia', None, 'Melbourne', 'East Melbourne', 'VIC', '3002', -37.81026723, 144.98592, 100, None, None)  ... displaying 10 of 22895 total bound parameter sets ...  (22893, "Immaculately presented and carefully maintained executive courtyard apartment, well spaced floor plan comprises a queen-sized bedroom with large mirr ... (702 characters truncated) ... Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank Promenade (boasting an array of cafes, bars, restaurants and boutiques), The Cro", "A plethora of Melbourne highlights are just a few minutes walk away, including Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank P ... (68 characters truncated) ... s), The Crown Casino Complex (offering a further array of dining, shopping and entertainment facilities), Clarendon Street South Melbourne's shopping", 'Southbank, VIC, Australia', 'Southbank', 'Melbourne', 'Southbank', 'VIC', 3006.0, -37.8277951, 144.9549869, 130, None, None), (22894, "An ENTIRE apartment unit ALL TO YOURSELF in Melbourne city, only a 5min walk to Melbourne Central and Queen Victoria Markets. Makes this cozy inner-c ... (702 characters truncated) ... s fully equipped and furnished  home is ready to go with: - Air Conditioning & heating  - Wireless internet (Pocket Wi-Fi) BEDROOM  - Queen sized bed", None, 'Carlton, VIC, Australia', 'Carlton', 'Melbourne', 'Carlton', 'VIC', 3053.0, -37.80518635, 144.9623991, 179, None, None))
2022-05-15 03:21:39,897 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:39,984 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-15 03:21:39,985 INFO sqlalchemy.engine.Engine [raw sql] ()

**A traves de "to_numeric" llevamos todos los registros al mismo tipo de datos**

In [126]:
airbnb_df['zipcode'] = pandas.to_numeric(airbnb_df.zipcode, errors='coerce')

In [127]:
airbnb_df.zipcode.value_counts().head(10)

3000.0    3367
3006.0    1268
3182.0    1135
3141.0     881
3004.0     728
3121.0     628
3008.0     616
3053.0     538
3181.0     460
3056.0     446
Name: zipcode, dtype: int64

**3. Consultas SQL:**

**Cantidad de registros totales por ciudad:**

(Guardamos strings en variables y luego pandas lo convierte en una sentencia sql)

In [128]:
query1 = "SELECT city, COUNT(*) FROM Airbnb GROUP BY city ORDER BY COUNT(city) desc"
query2 = "SELECT city, neighborhood, COUNT(city) FROM Airbnb GROUP BY city, neighborhood  ORDER BY city"

In [129]:
with engine.connect() as con:
      rs = con.execute(query1)
      print(query1)
      for row in rs:
          print(row)

2022-05-15 03:21:40,051 INFO sqlalchemy.engine.Engine SELECT city, COUNT(*) FROM Airbnb GROUP BY city ORDER BY COUNT(city) desc
2022-05-15 03:21:40,054 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT city, COUNT(*) FROM Airbnb GROUP BY city ORDER BY COUNT(city) desc
('Melbourne', 7368)
('Port Phillip', 2808)
('Yarra', 2049)
('Stonnington', 1621)
('Moreland', 967)
('Yarra Ranges', 771)
('Darebin', 698)
('Boroondara', 664)
('Glen Eira', 631)
('Whitehorse', 614)
('Monash', 571)
('Maribyrnong', 436)
('Wyndham', 426)
('Bayside', 375)
('Moonee Valley', 344)
('Manningham', 313)
('Kingston', 309)
('Hobsons Bay', 239)
('Banyule', 203)
('Frankston', 177)
('Knox', 175)
('Hume', 170)
('Casey', 153)
('Greater Dandenong', 147)
('Whittlesea', 137)
('Cardinia', 123)
('Maroondah', 115)
('Brimbank', 108)
('Melton', 95)
('Nillumbik', 88)

In [130]:

with engine.connect() as con:
      rs = con.execute(query2)
      print(query2)
      for row in rs:
          print(row)

2022-05-15 03:21:40,110 INFO sqlalchemy.engine.Engine SELECT city, neighborhood, COUNT(city) FROM Airbnb GROUP BY city, neighborhood  ORDER BY city
2022-05-15 03:21:40,115 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT city, neighborhood, COUNT(city) FROM Airbnb GROUP BY city, neighborhood  ORDER BY city
('Banyule', None, 174)
('Banyule', 'Alphington', 16)
('Banyule', 'Preston', 8)
('Banyule', 'Thornbury', 5)
('Bayside', None, 170)
('Bayside', 'Bentleigh', 1)
('Bayside', 'Brighton', 203)
('Bayside', 'Elwood', 1)
('Boroondara', None, 30)
('Boroondara', 'Ashburton', 14)
('Boroondara', 'Balwyn', 70)
('Boroondara', 'Balwyn North', 40)
('Boroondara', 'Camberwell', 82)
('Boroondara', 'Canterbury', 24)
('Boroondara', 'Glen Iris', 32)
('Boroondara', 'Hawthorn', 261)
('Boroondara', 'Kew', 109)
('Boroondara', 'Malvern', 2)
('Brimbank', None, 108)
('Cardinia', None, 123)
('Casey', None, 153)
('Darebin', None, 112)
('Darebin', 'Alphington', 22)
('Darebin', 'Coburg', 4)
('Darebin', 'Northcote', 303)
('Darebin', 'Preston', 156)
('Darebin', 'Thornbury', 101)
('Frankston', None, 177)
('Glen Eira', None, 33)
('Glen Eira', 'Balaclava/Ripponlea', 2)
('Glen Eira', 'Bentleigh', 84)
('Glen Eira', 'Brighton', 2)
('Glen Eira', 'Carnegie', 126)
('Glen Eira', 'Caulfield', 299)
('Glen Eira', 'Ormond/McKinnon', 46)
('Glen Eira', 'St Kilda East', 39)
('Greater Dandenong', None, 147)
('Hobsons Bay', None, 90)
('Hobsons Bay', 'Newport', 45)
('Hobsons Bay', 'Spotswood/South Kingsville', 23)
('Hobsons Bay', 'Williamstown', 75)
('Hobsons Bay', 'Yarraville/Seddon', 6)
('Hume', None, 170)
('Kingston', None, 292)
('Kingston', 'Bentleigh', 17)
('Knox', None, 175)
('Manningham', None, 296)
('Manningham', 'Balwyn North', 17)
('Maribyrnong', None, 57)
('Maribyrnong', 'Footscray', 253)
('Maribyrnong', 'Yarraville/Seddon', 126)
('Maroondah', None, 115)
('Melbourne', None, 241)
('Melbourne', 'Brunswick', 7)
('Melbourne', 'Carlton', 582)
('Melbourne', 'Carlton North', 10)
('Melbourne', 'Central Business District', 3726)
('Melbourne', 'Docklands', 576)
('Melbourne', 'East Melbourne', 180)
('Melbourne', 'Flemington', 12)
('Melbourne', 'Kensington', 107)
('Melbourne', 'North Melbourne', 290)
('Melbourne', 'Parkville', 85)
('Melbourne', 'Port Melbourne', 8)
('Melbourne', 'Prahran/Windsor', 35)
('Melbourne', 'South Melbourne', 1)
('Melbourne', 'South Wharf', 24)
('Melbourne', 'South Yarra', 161)
('Melbourne', 'Southbank', 1204)
('Melbourne', 'West Melbourne', 119)
('Melton', None, 95)
('Monash', None, 516)
('Monash', 'Ashburton', 4)
('Monash', 'Bentleigh', 5)
('Monash', 'Carnegie', 24)
('Monash', 'Glen Iris', 5)
('Monash', 'Malvern East', 17)
('Moonee Valley', None, 144)
('Moonee Valley', 'Brunswick', 33)
('Moonee Valley', 'Flemington', 166)
('Moonee Valley', 'Kensington', 1)
('Moreland', None, 136)
('Moreland', 'Brunswick', 681)
('Moreland', 'Coburg', 144)
('Moreland', 'Fitzroy North', 6)
('Nillumbik', None, 88)
('Port Phillip', None, 125)
('Port Phillip', 'Albert Park', 74)
('Port Phillip', 'Balaclava/Ripponlea', 141)
('Port Phillip', 'Elwood', 308)
('Port Phillip', 'Middle Park', 50)
('Port Phillip', 'Port Melbourne', 243)
('Port Phillip', 'Prahran/Windsor', 156)
('Port Phillip', 'South Melbourne', 291)
('Port Phillip', 'South Yarra', 133)
('Port Phillip', 'Southbank', 44)
('Port Phillip', 'St Kilda', 1082)
('Port Phillip', 'St Kilda East', 159)
('Port Phillip', 'Windsor', 2)
('Stonnington', None, 62)
('Stonnington', 'Armadale', 71)
('Stonnington', 'Caulfield', 3)
('Stonnington', 'Glen Iris', 44)
('Stonnington', 'Malvern', 34)
('Stonnington', 'Malvern East', 100)
('Stonnington', 'Prahran', 257)
('Stonnington', 'Prahran/Windsor', 4)
('Stonnington', 'South Yarra', 759)
('Stonnington', 'St Kilda', 3)
('Stonnington', 'St Kilda East', 2)
('Stonnington', 'Toorak', 117)
('Stonnington', 'Windsor', 165)
('Whitehorse', None, 574)
('Whitehorse', 'Balwyn', 25)
('Whitehorse', 'Balwyn North', 4)
('Whitehorse', 'Camberwell', 10)
('Whitehorse', 'Glen Iris', 1)
('Whittlesea', None, 137)
('Wyndham', None, 426)
('Yarra', None, 76)
('Yarra', 'Abbotsford', 254)
('Yarra', 'Alphington', 16)
('Yarra', 'Brunswick', 7)
('Yarra', 'Burnley', 56)
('Yarra', 'Carlton', 3)
('Yarra', 'Carlton North', 128)
('Yarra', 'Clifton Hill', 59)
('Yarra', 'Collingwood', 283)
('Yarra', 'East Melbourne', 8)
('Yarra', 'Fitzroy', 381)
('Yarra', 'Fitzroy North', 225)
('Yarra', 'Northcote', 6)
('Yarra', 'Richmond', 547)
('Yarra Ranges', None, 771)

**Cantidad de registros totales por barrio y ciudad:**

**4.JOIN de Datasets por SQL:**

Controlamos de que tengamos suficientes registros en común como para agregar información relevante a traves del JOIN por Código Postal.

In [131]:
intersection = numpy.intersect1d(
    airbnb_df.zipcode.values, melb_df.Postcode.values, assume_unique=False)
print("Airbnb unique zipcodes", len(airbnb_df.zipcode.unique()))
print("Sales unique zipcodes", len(melb_df.Postcode.unique()))
print("Common zipcodes", len(intersection))

Airbnb unique zipcodes 248
Sales unique zipcodes 198
Common zipcodes 191

Calculamos el porentaje de el total de registros de Postcode o Zipcode que interaccionan (cruzan) entre los distintos Dataset respecto el total de registros.

In [132]:
print('Records in Sales df with corresponding zipcode form Airbnb df',
      melb_df.Postcode.isin(intersection).sum() / len(melb_df))
print('Records in Airbnb df with corresponding zipcode form Sales df',
      airbnb_df.zipcode.isin(intersection).sum() / len(airbnb_df))

Records in Sales df with corresponding zipcode form Airbnb df 0.9985272459499264
Records in Airbnb df with corresponding zipcode form Sales df 0.9302904564315353

Definimos columnas de interes del Dataset de Airbnb y calculamos ciertas métricas de los registros agrupados por Zipcode.

In [133]:
relevant_cols = ['price', 'weekly_price', 'monthly_price', 'zipcode']
## Option 1
# Pass a dictionary where the keys are the original columns to aggregate and
# the values are the operations (or list of operations).
airbnb_price_by_zipcode = airbnb_df[relevant_cols].groupby('zipcode')\
  .agg({'price': ['mean', 'count'], 'weekly_price': 'mean',
        'monthly_price': 'mean'})\
  .reset_index()
# Flatten the two level columns
airbnb_price_by_zipcode.columns = [
  ' '.join(col).strip()
  for col in airbnb_price_by_zipcode.columns.values]
# Rename columns
airbnb_price_by_zipcode = airbnb_price_by_zipcode.rename(
    columns={'price mean': 'airbnb_price_mean',
             'price count': 'airbnb_record_count',
             'weekly_price mean': 'airbnb_weekly_price_mean',
             'monthly_price mean': 'airbnb_monthly_price_mean'}
)

In [134]:
airbnb_price_by_zipcode.head()

,zipcode,airbnb_price_mean,airbnb_record_count,airbnb_weekly_price_mean,airbnb_monthly_price_mean
0,2010.0,40.000000,1,NaN,NaN
1,2134.0,50.000000,1,NaN,NaN
2,2582.0,104.000000,1,NaN,NaN
3,3000.0,150.504307,3367,918.738956,3407.204651
4,3001.0,132.500000,2,NaN,NaN

In [135]:
airbnb_price_by_zipcode.to_sql('Metrica', con=engine, if_exists="replace")

2022-05-15 03:21:40,326 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Metrica")
2022-05-15 03:21:40,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,334 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Metrica")
2022-05-15 03:21:40,337 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,340 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-15 03:21:40,343 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,347 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Metrica")
2022-05-15 03:21:40,350 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,353 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:40,355 INFO sqlalchemy.engine.Engine [raw sql] ('Metrica',)
2022-05-15 03:21:40,358 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("Metrica")
2022-05-15 03:21:40,360 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,361 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("Metrica")
2022-05-15 03:21:40,363 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,364 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:40,366 INFO sqlalchemy.engine.Engine [raw sql] ('Metrica',)
2022-05-15 03:21:40,368 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Metrica")
2022-05-15 03:21:40,369 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,371 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Metrica_index")
2022-05-15 03:21:40,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,374 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("Metrica")
2022-05-15 03:21:40,376 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,377 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_Metrica_index")
2022-05-15 03:21:40,379 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-15 03:21:40,381 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-05-15 03:21:40,382 INFO sqlalchemy.engine.Engine [raw sql] ('Metrica',)
2022-05-15 03:21:40,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:40,386 INFO sqlalchemy.engine.Engine
DROP TABLE "Metrica"
2022-05-15 03:21:40,388 INFO sqlalchemy.engine.Engine [no key 0.00121s] ()
2022-05-15 03:21:40,398 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:40,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:40,405 INFO sqlalchemy.engine.Engine
CREATE TABLE "Metrica" (
	"index" BIGINT,
	zipcode FLOAT,
	airbnb_price_mean FLOAT,
	airbnb_record_count BIGINT,
	airbnb_weekly_price_mean FLOAT,
	airbnb_monthly_price_mean FLOAT
)


2022-05-15 03:21:40,407 INFO sqlalchemy.engine.Engine [no key 0.00192s] ()
2022-05-15 03:21:40,417 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Metrica_index" ON "Metrica" ("index")
2022-05-15 03:21:40,419 INFO sqlalchemy.engine.Engine [no key 0.00190s] ()
2022-05-15 03:21:40,429 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:40,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-15 03:21:40,445 INFO sqlalchemy.engine.Engine INSERT INTO "Metrica" ("index", zipcode, airbnb_price_mean, airbnb_record_count, airbnb_weekly_price_mean, airbnb_monthly_price_mean) VALUES (?, ?, ?, ?, ?, ?)
2022-05-15 03:21:40,452 INFO sqlalchemy.engine.Engine [generated in 0.01264s] ((0, 2010.0, 40.0, 1, None, None), (1, 2134.0, 50.0, 1, None, None), (2, 2582.0, 104.0, 1, None, None), (3, 3000.0, 150.5043065043065, 3367, 918.7389558232932, 3407.204651162791), (4, 3001.0, 132.5, 2, None, None), (5, 3002.0, 200.9796954314721, 197, 956.3793103448276, 3712.714285714286), (6, 3003.0, 130.20599250936328, 267, 760.2, 2629.5), (7, 3004.0, 158.27197802197801, 728, 1061.1714285714286, 3759.925925925926)  ... displaying 10 of 247 total bound parameter sets ...  (245, 9540.0, 245.0, 1, None, None), (246, 30122.0, 75.0, 1, 525.0, 2281.0))
2022-05-15 03:21:40,457 INFO sqlalchemy.engine.Engine COMMIT
2022-05-15 03:21:40,469 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-05-15 03:21:40,470 INFO sqlalchemy.engine.Engine [raw sql] ()

Generamos y ejecutamos la sentencia de SQL para unir mediante LEFT JOIN las tablas "Melbo" y "Métricas" (generada a partir del Dataset de Airbnb.

Primeramente ejecutamos un conteo de registros del Leftjoin (Desde tabla Melbo) para comparar y controlar la cantidad de registros de la tabla resultante:

In [153]:
query3 = "SELECT COUNT() FROM Melbo LEFT JOIN Metrica ON Metrica.zipcode=Melbo.Postcode"

In [155]:
with engine.connect() as con:
      rs = con.execute(query3)
      print(query3)
      for row in rs:
          print(row)

2022-05-15 03:29:46,254 INFO sqlalchemy.engine.Engine SELECT COUNT() FROM Melbo LEFT JOIN Metrica ON Metrica.zipcode=Melbo.Postcode
2022-05-15 03:29:46,256 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT COUNT() FROM Melbo LEFT JOIN Metrica ON Metrica.zipcode=Melbo.Postcode
(13580,)

In [152]:
len(melb_df)

13580

In [166]:
query4 = "SELECT * FROM Melbo LEFT JOIN Metrica ON Metrica.zipcode=Melbo.Postcode"

In [164]:
# with engine.connect() as con:
#     rs = con.execute(query4)
#     print(query4)
#     for row in rs:
#        print(row)

## Ejercicio 2: 

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico. 
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
  1. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  2. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)